html {
  scroll-behavior: smooth;
  scroll-padding-top: 68px;
}

.background {
  background-color: #ede1de;
}

.text {
  font-family:'Calibre','San Francisco','SF Pro Text',-apple-system,system-ui,sans-serif;;
}


.mono-font {
  font-family: 'SF Mono','Fira Code','Fira Mono','Roboto Mono',monospace;
}

.block-sec {
  width: 80%;
  height: 90%;
  margin: 0 auto;
}

.space {
  height: 100vh;
}

.proj {
  margin-top: 200px;
}

/* Buttons */

.white {
  color: #fff;
  padding: .5em 1em;
}

.rose {
  color: #d1aca5;
  padding: 1em 2em;
}

.rose:hover {
  color:#fff;
}

.button-def {
  appearance: none;
  background-color: transparent;
  border: 2px solid #d1aca5;
  border-radius: 15px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 1em;
  line-height: normal;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.button-def:disabled {
  pointer-events: none;
}

.button-def:hover {
  color: #fff;
  background-color: #d1aca5;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-def:active {
  box-shadow: none;
  transform: translateY(0);
}


/* Underline Animation */

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #82ac85;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #82ac85;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Email Styles */


a {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  color: inherit;
  position: relative;
  transition: var(--transition);
}


:root { 
  --dark-navy: #020c1b;
  --navy: #eae1dc;
  --bay: #82ac85;
  --pink-hard: #ba8378;
  --light-navy: #f0eae7;
  --lightest-navy: #f7f3f1;
  --navy-shadow: rgba(2,12,27,0.7);
  --dark-slate: #495670;
  --slate: #8e8d8a;
  --light-slate: #72716e;
  --lightest-slate: #474745;
  --white: #e6f1ff;
  --green: #e85a4f;
  --green-tint-dark: #8b362f;
  --green-tint: #f6bdb9;
  --font-sans: 'Calibre','San Francisco','SF Pro Text',-apple-system,system-ui,sans-serif;
  --font-mono: 'SF Mono','Fira Code','Fira Mono','Roboto Mono',monospace;
  --fz-xxs: 12px;
  --fz-xs: 13px;
  --fz-sm: 14px;
  --fz-md: 16px;
  --fz-lg: 18px;
  --fz-xl: 20px;
  --fz-xxl: 22px;
  --fz-heading: 32px;
  --border-radius: 8px;
  --nav-height: 100px;
  --nav-scroll-height: 70px;
  --tab-height: 42px;
  --tab-width: 120px;
  --easing: cubic-bezier(0.645,0.045,0.355,1);
  --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
}


/* Add this CSS below your existing CSS */
