.email-sec {
    width: 60px;
    position: fixed;
    bottom: 0px;
    left: auto;
    right: 40px;
    z-index: 10;
    color: var(--light-slate);
  }
  
  .email-sec {
    left: auto;
    right: 20px;
  }


  .email-link {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
  }
  
  .email-link a {
    color: #8a8a8a;
    text-decoration: none;
    margin: 20px auto;
    padding: 10px;
    font-family: var(--font-mono);
    font-size: var(--fz-xxs);
    line-height: var(--fz-lg);
    letter-spacing: 0.1em;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
  }


  .email-link::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: var(--light-slate);
  }

  .email-link a:hover {
    color: #82ac85; 
}

@media (max-width: 1000px) {
  .email-sec {
    display: none;
  }
}