
  .links-sec {

    position: fixed;
    bottom: 0px;
    left: 40px;
    right: auto;
    color: var(--light-slate);
  }

  .uList {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 0px;
    list-style: none;
  }
  
  .uList li a {
    padding: 10px;
  }

  .uList::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: var(--light-slate);
}

.uList li a svg path {
    transition: fill 0.5s ease; 
}

.uList li a:hover svg path {
    fill: #82ac85;
}

@media (max-width: 1000px) {
  .links-sec {
    left: 0;
    position: relative;
  }

  .uList {
    flex-direction: row;
    gap: 20px;
  }

  .uList::after {
    content: "";
    display: block;
    width: 0px;
    height: 90px;
    margin: 0px auto;
    background-color: var(--light-slate);
}

  

}