.projects-section {
  height: 80vh;

}


.projects-container {
    justify-content: center;
    border-radius: 25px;
    position: relative;
  }


  .project-row {
    /* Remove the flex-row class as it's not needed when centering */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  
  
  .next-prev {
    padding: 8px 16px;
    margin: 20px;
  }

  .numbered-heading-4::before {
    position: relative;
    counter-increment: section 4;
    content: "0" counter(section) ".";
    margin-right: 10px;
    color: #ba8378;
    font-family: var(--font-mono);
    font-size: clamp(var(--fz-md),3vw,var(--fz-xl));
    font-weight: 400;
}

.numbered-heading-4 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin: 10px 0px 40px;
    width: 100%;
    font-size: clamp(26px,5vw,var(--fz-heading));
    white-space: nowrap;
}

.numbered-heading-4::after {
    content: "";
    display: block;
    position: relative;
    top: -5px;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: var(--lightest-navy);
}


.white {
  color: #fff;
  padding: .5em 1em;
}

.rose {
  color: #d1aca5;
  padding: 1em 2em;
}

.rose:hover {
  color:#fff;
}

.padd-link {
  padding: 18px 24px;
}

.video-player {
  border-radius: 50px;
}



.button-proj {
  margin-bottom: 10px;
  appearance: none;
  color: #d1aca5;
  background-color: #fff;
  border: 2px solid #d1aca5;
  border-radius: 15px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 1em;
  line-height: normal;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.button-proj:disabled {
  pointer-events: none;
}

.button-proj:hover {
  color: #fff;
  background-color: #d1aca5;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-proj:active {
  box-shadow: none;
  transform: translateY(0);
}

  